* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

button {
    padding: 10px 30px;
    background-color: green;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

#result {
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
    color: tomato;
    font-variant: small-caps;
    letter-spacing: 2px;
}